<nav class="topnav">
    <label class="active" id='username'>
    <%=myname%>
    </label>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" > Home </a>
        <a class="nav-link" href="/login"> Login </a>
        <a class="nav-link" href="/Register">Register</a>
      </li>
    </ul>
  </nav>