<nav class="topnav">
    <label class="active" id='username'>
    <%=myname%>
    </label>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/member" > Home </a>
        <a class="nav-link" href="/"> LogOut </a>
      </li>
    </ul>
  </nav>