<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body oncontextmenu="return false;">
    <div style="float:left; width:25%; text-align:right">
        <labelclass="box" id="A" style="background-color: rgb(100,0,100) ;">B10711150</label>
    </div>
    <div>
        <labelclass="box" id="B" style="background-color: rgb(100,0,100) ;">葉書廷</label>
    </div>
</body>
<script>
  A.style.color="rgb(255,255,255)"
  B.style.color="rgb(255,255,255)"
  B.style.fontSize = "20px";
  A.style.fontSize = "50px";
  </script>
</html>