#boxes{
    width: 80%;
    margin:auto;
    text-align: center;
    line-height:80px;
    cursor: pointer;
  }

.boxbtn{
    width: 80px;
    height: 80px;
    margin: 5px;
    display:inline-block;
    border-radius: 5%;
    text-align:center;
    line-height:80px;  
  }
.boxbtn:hover {                  
   background-color: #0C6;           
   color: #FFF;                         
   cursor: pointer;                             

}
.box{
    width: 80px;
    height: 80px;
    margin: 5px;
    display:inline-block;
    border-radius: 5%;
    text-align:center;
    line-height:80px;  
  }
.boxMix{
    position: relative;
    width: 240px;
    height: 120px;
    margin: 3px;
    display:inline-block;
    border-radius: 0%;
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1253;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  
}
.navlink{
  text-align: right;
}
.inputform{
  width: 300px;
  height: 40px;
  margin: 5px;
  display:inline-block;
  border-radius: 8px;
  text-align:left;
  line-height:10px; 
}
